.titulo {
    -unity-font-definition: url("project://database/Assets/Fonts/Fredoka-VariableFont_wdth,wght.ttf?fileID=12800000&guid=884662cc446614748ab9b57c22413735&type=3#Fredoka-VariableFont_wdth,wght");
    -unity-font-style: bold;
    font-size: 46px;
}

.semititulo {
    -unity-font-definition: url("project://database/Assets/Fonts/Fredoka-VariableFont_wdth,wght.ttf?fileID=12800000&guid=884662cc446614748ab9b57c22413735&type=3#Fredoka-VariableFont_wdth,wght");
    -unity-font-style: bold;
    font-size: 30px;
}

.label {
    -unity-font-definition: url("project://database/Assets/Fonts/Fredoka-VariableFont_wdth,wght.ttf?fileID=12800000&guid=884662cc446614748ab9b57c22413735&type=3#Fredoka-VariableFont_wdth,wght");
    -unity-font-style: bold;
    font-size: 21px;
}
